# Local loading example:
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
DB_NAME=Triage_db
DB_CHARSET=latin1

CHARTS_RESTRICTION=True

# Docker loading example:
DB_HOST=mysqldb
DB_USER=root
DB_PASSWORD=1234
DB_PORT=3306
DB_NAME=Triage_db
DB_CHARSET=latin1

CHARTS_RESTRICTION=False