.scrollable-list {
    position: relative;
    max-height: 25vh;
    overflow-y: auto;
    overflow-x: auto;
    border: none;
    transition: all 0.3s ease;
    z-index: 2;
    font-size: 1.75vmin; /* Ajusta el tamaño inicial del texto usando la unidad vmin */
    /*background-color: red; me sirve para ver el conteiner con el que estoy trabajando*/
  }
  
  /* Estilo para la cabecera de la lista */
  .scrollable-list .list-header {
    font-weight: bold;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    overflow-x: auto;
    position: sticky;
    top: 0; /* Fija la cabecera en la parte superior del contenedor */
    background-color: #FFFFFF; /* Color de fondo para la cabecera */
    z-index: 1; /* Asegura que la cabecera esté encima del contenido al desplazarse */
    display: grid;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: inset 0 -5px 5px -5px rgba(255, 255, 255, 1); /* Add inset box-shadow to the bottom */
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }
  
  
  /* Estilo para cada fila (paciente) */
  .scrollable-list li {
    display: grid;
    align-items: center; /* Centra verticalmente los elementos en cada fila */
    padding: 1%;
    border-bottom: 1px solid #d8d8d8;
  }

  .scrollable-list .list-header .list-item-span:first-child {
    padding-right: 10px; /* Ajusta el espacio en blanco hacia la derecha según sea necesario */
  }
  
  .scrollable-list .list-header .list-item-span:last-child {
    padding-right: 10px; /* Ajusta el espacio en blanco hacia la derecha según sea necesario */
  } 

  
  /* Estilo para cada celda en la fila */
  .scrollable-list .list-item-span {
    padding: 8px; /* Ajusta el espaciado interno si es necesario */
    border-right: 1px solid #000; /* Agrega un borde derecho entre cada columna */
    display: block; /* Asegura que cada span ocupa todo el ancho disponible */
  }
  
  .scrollable-list .list-item-span:last-child {
    border-right: none;
  }
  

/* Estilo para las filas pares */
.scrollable-list .even-row {
  margin-left: 1%;
  margin-right: 1%;
  background-color: #37B3E2;
  border-radius: 14px;
}

/* Estilo para las filas impares */
.scrollable-list .odd-row {
  margin-left: 1%;
  margin-right: 1%;
  background-color: #FFFFFF; /* Puedes ajustar el color según tus preferencias */
  border-radius: 14px;
}

/*----------------Expandible--------------*/
.scrollable-list.expandida {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.fondo-opaco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 0; /* Coloca la capa opaca detrás de la lista */
}

.expandir-lista-btn {
  position: absolute;
  top: 0; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde la derecha */
  background-color: #ffffff; /* Color de fondo del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.expandir-lista-btn img {
  width: 20px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 20px;
}

/* Ajuste para corregir la posición de la lista */
.scrollable-list.expandida > div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 1.25vw;
}

.scrollable-list.expandida > div  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 1.25vw;
}