# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
.next

dist
dist-ssr
*.local
*.env
*.env.local
*.env.staging
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
DataAnalysisAndReports/src/data/__pycache__/make_dataset.cpython-310.pyc
DataAnalysisAndReports/src/features/__pycache__/build_features.cpython-310.pyc
DataAnalysisAndReports/src/visualization/__pycache__/visualize.cpython-310.pyc
