# Express port
PORTAPI=3000
# Database conection info for runing with npm run dev
DB_HOST="mysqldb"
DB_USER="root"
DB_PORT=3306
DB_PASSWORD="1234"
DB_NAME="Triagedb"
# JsonWebToken
JWT_SECRET='123'
# Encription Variables
ALGORITHM=aes-192-cbc
PRIVATE_KEY=Password used to generate key
SALT=salt
# Client URL
CLIENT_URL='http://localhost:5173'
# NodeMailer
EMAIL_USER="Test"
EMAIL_PASS="Test"